/*
   Adjusting body
   Setting background image of whole window
   Positioning contents in the center
   Setting fonts
*/
body {
    background-image: url('../img/Background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    justify-content: center;
    font-family: 'Tahoma', sans-serif;
}

/* Remove margin-top of header2 */
h2 {
    margin-top: 0;
}

/* Adjust Result paragraphs font-size */
.result {
    font-size: small;
}

/*
   Style for the box in the middle of the main window
   Setting colors of background and border
   40px padding for better appearance
   border radius for curvy corners
*/
.middle {
    width: fit-content;
    margin: 15% auto;
    padding: 40px;
    border: 2px solid rgb(139 139 139 / 37%);
    border-radius: 25px;
    background-color: #ffffff69
}

/*
   Applying row-direction Flex display to the middle-window's container
   Positions information-form and prediction-part next to each other horizontally
   Setting 50px gap between two vertical containers
*/
.hor-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}


/*
   Style for two vertical parts of middle window
   Applying column-direction Flex display
   Setting 50px gap between items
*/
.ver-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
}

/*
   Style for buttons with 50% of its parent width and transition colors
   border radius for curvy corners
   padding for better appearance
*/
.button {
    width: 50%;
    margin: 5px auto;
    background-color: #e5f2ff;
    /*border-color: #839599;*/
    border: 1px solid transparent;
    border-radius: .3em;
    padding: .3rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

/* Style for buttons when mouse goes on it */
.button:hover {
    background-color: #e9fdff;
    border-color: #5581e0;
}

/*
   dotted-border box to show saved results
   padding for better appearance
   invisible by default
*/
#saved-answer-box {
    display: none;
    border: 2px dotted rgb(134, 128, 134);
    padding: 5px;
}

/*
   A box for showing messages or errors to the user
   It is not visible unless needed and appears at the bottom of the middle window
   Setting different font-family and font-size and font-weight
   Brighter transparent background
   padding for better appearance
   border radius for curvy corners
   A minimum height for better appearance
*/
#message-part {
    display: none;
    font-family: monospace;
    background: rgb(255 253 254 / 58%);
    padding: 8px;
    margin-top: 20px;
    border-radius: 15px;
    /*border: 2px solid #bb96a9;*/
    border: 1px solid transparent;
    color: #df4d75;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    min-height: 2em;
}

