/*setting Background image*/
body {
    background-image: url('../img/Background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}